/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

body {
  margin: 0;
  font-family: "Sen", sans-serif !important;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  background: #f5f5f5 !important;
}

/* To show DropDown */
.hideDropdown {
  transform: translateY(-10%);
  opacity: 0;
  visibility: hidden;
}
.showDropDown {
  transform: translateY(0%);
  visibility: visible;
  opacity: 1;
}
.relative {
  position: relative;
}
.hide {
  /* background-color: mediumseagreen !important; */
  display: none;
}
.visible {
  display: block;
}
.pointer {
  cursor: pointer;
}
.no-drop {
  cursor: no-drop;
}
.active2 {
  background: #003559;
  border: none;
}

.modal-body {
  padding: 1rem;
 
}
#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  color: white;
  padding-left: 0px;
  margin-top: 3vh;
}

#progressbar li {
  list-style-type: none;
  font-size: 0.8rem;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: white;
}

#progressbar #step1:before {
  content: "";
  color: white;
  width: 20px;
  height: 20px;
  margin-left: 0px !important;
}

#progressbar #step2:before {
  content: "";
  color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 32%;
}

#progressbar #step3:before {
  content: "";
  color: #fff;
  width: 20px;
  height: 20px;
  margin-right: 32%;
}

#progressbar #step4:before {
  content: "";
  color: rgb(151, 149, 149, 0.651);
  width: 20px;
  height: 20px;
  margin-right: 0px !important;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: rgb(151, 149, 149);
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh;
}

#progressbar li:after {
  content: "";
  height: 3px;
  background: rgb(151, 149, 149, 0.651);
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 8px;
  z-index: 1;
}
.progress-track {
  padding: 0 8%;
}
#progressbar li:nth-child(2):after {
  margin-right: auto;
}

#progressbar li:nth-child(1):after {
  margin: auto;
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%;
}
#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: white;
}

#three {
  /* font-size: 1.2rem; */
}
@media (max-width: 767px) {
  #three {
    font-size: 1rem;
  }
}
.details {
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 3.5rem;
}

@media (max-width: 767px) {
  .details {
    padding: 2rem 0;
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
